<p>
<%= render @post.categories %>
</p>
<%= render 'shared/content_title', title: @post.title %>

<p>
<%= @post.description %>
</p>
<hr/>

<p>
<%= form_for [@post,@comment] do |f| %>
  <% if @comment.errors.any? %>
    <%= render 'shared/errors', object: @comment %>
    <% end %>
  <%= f.label :body, 'Leave a comment' %>
  <%=f.text_area :body %>
  </br>
  <%= f.submit "Create Comment", class: "btn btn-primary" %>
<% end %>
</p>
<h5>Comments:</5>
<p>
	<% @post.comments.each do |comment| %>
  <div class="row">
  <% if logged_in? %>
   
    <div class= "span0 well text-center">
      <%= link_to vote_post_comment_path(@post, comment, vote: true), method: 'post' do %>
      <i class='icon-arrow-up'></i>
      <% end %>
    </br>
    <%= comment.total_votes %>
    </br>
      <%= link_to vote_post_comment_path(@post, comment, vote: false), method: 'post' do %>
        <i class='icon-arrow-down'></i>
      <% end %>
  </div>  
  <% end %>

	  <div class="well span8">
	  	"<%= comment.body %>"
	  <p>
        <span class="quiet">by</span> <%= comment.user.username %>
        <small>at <%= comment.created_at %></small>
  	</p>
  	</div>
    </div>
	  <% end %>
